@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (HttpContext.Session.Get("username") != null) {
        <h1 class="display-4">Welcome @HttpContext.Session.GetString("username")!</h1>
    } else {
        <h1 class="display-4">Welcome!</h1>
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
